body {
    position: absolute;
    top: 35%;
    left: 50%;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: aqua;
}